.navBar{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 2fr 6fr 2fr;
    
    
   
    background-color: rgba(37, 24, 24, 0.63);
    height: 100px;
    .navigation {

        grid-column: 3/4;
        grid-row:2/3;

        display: flex;
        // border: solid red 1px;
        align-self: flex-end;
        color: white;
        text-decoration: none;
        align-items: center;
        text-transform: uppercase;
        padding: 0 20px;
    
    }
    .selectedbuilding{
       
        
    }
    .loggeduser{
       
        grid-column: 3/4;
        grid-row: 1/2;
    }
    
}

