.main_container{
display: grid;
grid-template-columns: 2fr 10fr;
grid-template-rows: 1fr 24fr;
height: 100vh;


    .sideNav {
        grid-row: 2/3;
        height: 90%;
    }

    .spaceList
     {
        grid-column: 2/3;
        grid-row: 2/3;
        background-color: rgba(255, 255, 255, 0.5);
        width:60%;
        height:90%;
        margin: 0 auto;
    }

    .buildingsList{
        grid-column: 2/3;
        grid-row: 2/3;
        background-color: rgba(255, 255, 255, 0.5);
        width:60%;
        height:90%;
        margin: 0 auto;
    }


    .container{
        grid-column: 2/3;
        grid-row: 2/3;
    }
 
}

