.container{
    display: grid;
    grid-template-rows: 15fr 1fr;
    width: 60%;
    height:80vh;



    .buildinglist{
       grid-row:1/2;
        color: wheat;
        ul{
            list-style-type: none;
        }
    
    }
    .button{
        grid-row: 2/3;
        background-color: rgb(44, 44, 180);
        height: 50px;
        color: white;
        font-weight: 400;
        font-size: 110%;
        border: none;
        margin: auto;
    }
}

