.logoutButton {
    // display: flex;
        // border: solid red 1px;
        color: white;
        text-decoration: none;
        // align-items: center;
        text-transform: uppercase;
        padding: 0 20px;
        background-color: rgba(37, 24, 24, 0);
        border:  rgba(37, 24, 24, 0);
        font-size: 1rem;

}